.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(121, 18, 18, 0.5), rgba(0, 0, 0, 0.784)), url(./../images/RT_300EssentialMovies_700X250.jpg);
  }
  
  .profile-container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(10, 8, 8, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h2 {
    color: white;
  }
  
  .profile-container p {
    color: white;
  }
  
  .button {
    padding: 10px;
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #f00;
  }
  
  .delete-button {
    background-color: #f00;
  }
  img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }