<div class="container">
  <section class="about-section">
    <h2>Our Story</h2>
    <p>
        Welcome to our humble corner of the internet! MovieSite was born from a simple idea and a lot of late-night coding sessions.

        As a movie-loving student with a knack for web development, I set out to create a space where fellow film enthusiasts could come together to discover, discuss, and celebrate their favorite movies.
        
        Driven by a passion for both cinema and technology, I poured my heart and soul into building MovieSite from the ground up. From the initial sketches to the final lines of code, every aspect of the website has been crafted with care and attention to detail.
    </p>
  </section>

  <section class="team-section">
    <h2>Our Team</h2>
    <div class="team-member">
      <img src="../../../assets/myimage.jpeg" alt="myimage" />
      <h3>Doan Idriz</h3>
      <p>Role: Developer</p>
    </div>
  </section>
</div>
