<div class="container" *ngIf="movie">
  <div class="movie-image">
    <img [src]="movie.Poster" alt="Movie Image" />
  </div>
  <div class="movie-info">
    <h2>{{ movie.Title }}</h2>
    <p><strong>Year:</strong> {{ movie.Year }}</p>
    <p><strong>Rated:</strong> {{ movie.Rated }}</p>
    <p><strong>Released:</strong> {{ movie.Released }}</p>
    <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
    <p><strong>Genre:</strong> {{ movie.Genre }}</p>
    <p><strong>Director:</strong> {{ movie.Director }}</p>
    <p><strong>Writer:</strong> {{ movie.Writer }}</p>
    <p><strong>Actors:</strong> {{ movie.Actors }}</p>
    <p><strong>Plot:</strong> {{ movie.Plot }}</p>
    <div class="crud-options" *ngIf="user.token">
      <button [routerLink]="'/movies/' + movie._id + '/edit'">Edit</button>
      <button class="delete" (click)="deleteMovie(movie._id)">Delete</button>
    </div>
  </div>
</div>
